.contacts {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: @basic-white;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 58px 43px 64px 42px;
  }
}

.contacts__text {
  width: 222px;
  font-family: @special-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 210px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 190px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 28px;
    margin-left: 48px;
  }
}

.contacts__address-city,
.contacts__address-street {
  margin: 0;
}

/*
.contacts__text,
.contacts__address {
  margin: 0;
} */

.contacts__address {
  padding-left: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 192px;
    text-align: right;
  }
}

.contacts__address-street {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map {
    margin-bottom: -7px;
  }

  .contacts__text {
    width: 190px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 22px;
    margin-left: 42px;
  }

  .contacts__address {
    font-size: 17px;
    width: 197px;
    text-align: left;
    padding-left: 0px;
    margin-right: 16px;
  }

  .contacts__wrapper {
    width: 570px;
    justify-content: space-around;
    align-items: center;
    min-height: 202px;
    position: absolute;
    left: 110px;
    top: 95px;
    padding: 0 0;
    background-color: @basic-white;
  }

  .contacts__map-frame {
    display: block;

    &--big {
      min-height: 400px;
    }
  }
}
