.example {
  background: @basic-gray;
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 20px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.example__title {
  font-family: @special-font-family;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 27px;
  color: @basic-dark;

  @media (min-width: @tablet-width) {
    margin-top: 0px;
  }
}

.example__stats {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__price {
  font-family: @special-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-dark;
}

.stats__subtitle {
  font-family: @special-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-dark;
}

.stats__title {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.progress {
  width: auto;
}

.progress__control-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.progress__button {
  font-family: @special-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
