.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.features__title {
  font-family: @special-font-family;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  color: @basic-dark;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }
}

.features__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    justify-content: space-between;
  }
}

.features__item {
  padding-left: 100px;
  list-style-type: none;
  margin-top: 26px;
  line-height: 18px;
  position: relative;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    width: 48%;
    padding-top: 100px;
    padding-left: 0px;
    margin-top: 0px;
    min-height: 290px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

.features__item--leaf::before {
  content: url(../img/icon_leaf.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.features__item--cup::before {
  content: url(../img/cup.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.features__item--eat::before {
  content: url(../img/eat.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.features__item--weight::before {
  content: url(../img/weight.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
