.footer__wrapper {
  width: auto;
  margin: 0 auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__logo {
  .border-bottom();
  width: auto;
  height: auto;
  padding: 23px 0 32px 0;

  &--icon {
    border: none;
    display: block;
    margin: 0 auto;
  }
}

.footer__social-list {
  .list-reset();
  .border-bottom();
  display: flex;
  justify-content: space-between;
  padding: 24px 81px 15px 73px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-link {
  text-decoration: none;
  color: @special-dark-gray;
  fill: @special-gray-logo;
}

.footer__copyright-text {
  font-size: 16px;
  margin-top: 30px;
}

.footer__copyright-icon {
  margin-top: 19px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
  }

  .footer__social-list,
  .footer__logo {
    border-bottom: 0;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 1220px;
    align-items: center;
  }

  .footer__social-list {
    display: flex;
  }

  .footer__facebook {
    width: 12px;
    height: 27px;
  }
}
