.footer__wrapper {
  width: auto;
  margin: 0 auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
}

.footer__social-list {
  .list-reset();
}

.footer__social-item {
  .list-reset();
}
