.form__wrapper {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.form__title {
  font-family: @special-font-family;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 0px;
  color: @basic-dark;
}

.form__subtitle {
  margin-top: 37px;
  font-family: @special-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @basic-dark;
}

.form__list,
.form__programm,
.form__list--owner {
  .list-reset ();
  margin-top: 39px;
  flex-grow: 1;
}

.form__list--option {
  padding-left: 0px;
}

.form__programm,
.form__owner {
  .border-bottom ();
  padding-bottom: 24px;
}


.form__optional {
  padding-bottom: 24px;
}

.form__item {
  font-family: @special-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  flex-grow: 1;
}

.form__input {
  flex-grow: 1;
  padding: 14px;
  margin-left: 13px;
}

.form__input--text-comment {
  font-family: @special-font-family;
  font-size: 16px;
  color: @special-dark-gray;
  text-transform: uppercase;
  min-height: 150px;
  margin: 0;
}

.form__input--checkbox-circle {
  flex-grow: 0;
  margin: 0;
  margin-left: 10px;
}

.form__input--checkbox-square {
  flex-grow: 0;
}

.sending__item {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 708px;
  }

  .form__list--option {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__item--option {
    width: 334px;
  }

  .sending {
    display: flex;
    justify-content: space-between;
  }

  .sending__item {
    width: 50%;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1220px;
  }
  .form__cat {
    display: flex;
    justify-content: space-between;
  }

  .form__list--owner {
    display: flex;
    justify-content: space-between;
  }

  .form__item--owner {
    flex-grow: 1;
  }

  .form__item--option {
    width: auto;
  }
}
