.form__wrapper {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.form__title--header {
  font-size: 36px;
  color: @basic-dark;
  font-family: @special-font-family;
  font-weight: 400;
}

.form__title {
  position: relative;
  width: 186px;
  margin-top: 0;
  margin-bottom: 33px;
  color: @basic-dark;
  font-family: @special-font-family;
  font-size: 24px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  background-color: @basic-white;

  &::before,
  &::after {
    margin-right: 40px;
    position: absolute;
    content: "";
    top: 50%;
    right: 82%;
    width: 100vw;
    height: 2px;
    z-index: -1;
    background-color: @basic-green;
  }

  &::after {
    margin-left: 22px;
    left: 38%;
  }
}

.form__optional > .form__title {
  margin-bottom: 39px;
}

.form__subtitle {
  color: @basic-dark;
  font-family: @special-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.form__list,
.form__programm {
  .list-reset ();
  flex-grow: 1;
  margin-bottom: 54px;
  border: none;

  &--owner {
    margin-bottom: 26px;
  }

  &--comment {
    margin-bottom: 28px;
  }
}

.form__list--option {
  padding-left: 0;
}

.form__programm {
  margin-bottom: 25px;
  border: none;
  border-top: solid 1px @border-gray;
  border-bottom: solid 1px @border-gray;
  padding-top: 21px;
}

.form__cat,
.form__owner,
.form__comment,
.form__optional {
  padding-top: 0;
}

.form__optional {
  margin-bottom: 36px;
}

.form__item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0;
  margin-bottom: 15px;
  flex-grow: 1;
  font-family: @special-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;

  &--option {
    margin-bottom: 24px;
  }

  &--programm {
    margin-bottom: 15px;
  }
}

.form__input {
  flex: auto;
  margin-left: 14px;
  padding: 10px 9px 9px 16px;
  font-family: @special-font-family;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid @special-gray;
  position: relative;

  &--checkbox-circle,
  &--checkbox-square {
    margin-right: 22px;
    margin-left: 10px;
    flex-grow: 0;
  }

  &--comment {
    min-height: 150px;
    margin: 0;
  }

  &:disabled {
    border: 2px solid @special-dark-gray;
  }

  &:invalid {
    border: 2px solid @basic-error;
  }
}

.form__icon {
  position: absolute;

  &--email {
    right: 13px;
  }

  &--phone {
    right: 10px;
  }
}

.form__label {
  display: flex;
  flex-direction: row-reverse;
}

.form__label-radio {
  margin-bottom: 15px;
  margin-left: 15px;
}

.form__label-radio::before {
  display: block;
  content: "";
  position: absolute;
  left: -42px;
  top: -12px;
  width: 40px;
  height: 40px;
  border: 2px solid @border-checkbox-frame;
  border-radius: 20px;
}

.form__input-radio:checked + .form__label-radio::after {
  display: block;
  position: absolute;
  content: "";
  left: -32px;
  top: -2px;
  width: 20px;
  height: 20px;
  background-color: @basic-green;
  border-radius: 50%;
}

.form__label-square {
  padding-left: 47px;
}

.form__label-square::before {
  display: block;
  content: "";
  position: absolute;
  left: -3px;
  top: -12px;
  width: 40px;
  height: 40px;
  border: 2px solid @border-checkbox-frame;
}

.form__input-square:checked + .form__label-square::after {
  display: block;
  content: url("/img/mark.svg");
  position: absolute;
  width: 40px;
  height: 40px;
  left: 7px;
  top: -2px;
}

.form__field-label {
  display: flex;
  align-items: center;
  flex: auto;
}

.form__input--checkbox-square {
  flex-grow: 0;
}

.sending__button {
  font-size: 16px;
  margin-bottom: 18px;
}

.sending__item {
  text-align: center;
  font-size: 14px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 708px;
    margin-bottom: 54px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 46px;
  }

  .form__title--header {
    font-size: 60px;
    margin-top: 31px;
    margin-bottom: 42px;
  }

  .form__owner {
    border-bottom: 0;
  }

  .form__list {
    margin-bottom: 72px;

    &--option {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 31px 15px;
    }
  }

  .form__item {
    margin-bottom: 21px;
  }

  .form__input {
    padding: 13px 9px 13px 16px;

    &--checkbox-circle {
      margin-bottom: 16px;
      margin-right: 34px;
    }

    &--comment {
      min-height: 174px;
      min-width: 631px;
      font-size: 20px;
      padding-left: 18px;
      padding-top: 11px;
    }
  }

  .form__optional > .form__title {
    margin-bottom: 72px;
  }

  .form__cat {
    margin-bottom: 81px;
  }

  .form__subtitle {
    font-size: 20px;
    max-width: 390px;
    line-height: 29px;
    margin-bottom: 67px;
  }

  .form__title {
    position: relative;
    font-size: 36px;
    margin-bottom: 79px;
    background-color: @basic-white;
    width: max-content;
    padding-right: 19px;

    &::before,
    &::after {
      margin-right: 40px;
      position: absolute;
      content: "";
      top: 50%;
      right: 100%;
      width: 100vw;
      height: 2px;
      z-index: -1;
      background-color: @basic-green;
    }

    &::after {
      margin-left: 22px;
      left: 100%;
    }
  }

  .form__programm {
    padding-left: 32px;
    padding-top: 23px;
    border: 1px solid @special-gray;
  }

  .form__label-radio {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .form__label {
    position: relative;
    font-size: 20px;
  }

  .form__label-text {
    padding-left: 0;
    font-size: 20px;
  }

  .form__label-radio::before {
    display: block;
    content: "";
    position: absolute;
    left: -58px;
    top: -12px;
    width: 40px;
    height: 40px;
    border: 2px solid @border-checkbox-frame;
    border-radius: 20px;
  }

  .form__input-radio:checked + .form__label-radio::after {
    display: block;
    position: absolute;
    content: "";
    left: -48px;
    top: -2px;
    width: 20px;
    height: 20px;
    background-color: @basic-green;
    border-radius: 50%;
  }

  .form__label-square::before {
    display: block;
    content: "";
    position: absolute;
    left: -3px;
    top: -12px;
    width: 40px;
    height: 40px;
    border: 2px solid @border-checkbox-frame;
  }

  .form__label-square {
    padding-left: 47px;
  }

  .form__input-square:checked + .form__label-square::after {
    display: block;
    content: url("/img/mark.svg");
    position: absolute;
    width: 40px;
    height: 40px;
    left: 7px;
    top: -2px;
  }

  .form__item--option {
    width: 334px;
  }

  .sending {
    display: flex;
    justify-content: space-between;
    padding-right: 104px;
  }

  .sending__item {
    width: auto;
    text-align: left;
    font-size: 16px;
  }

  .form__optional {
    margin-bottom: 38px;
  }

  .sending__button {
    width: 283px;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-right: 20px;
    padding: 17px 21px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1220px;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 63px;
  }

  .form__title--header {
    font-size: 60px;
    margin-top: 31px;
    margin-bottom: 44px;
  }

  .form__label-text {
    padding: 0;
  }

  .form__input {
    display: block;

    &--owner {
      margin-left: 20px;
      padding: 12px 17px 14px 19px;
      font-size: 20px;
    }

    &--checkbox-square {
      margin-right: 35px;
    }

    &--comment {
      width: auto;
      min-width: auto;
    }
  }

  .form__list + .form__programm {
    margin-left: 69px;
  }

  .form__list {
    margin-bottom: 0;

    &--owner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: baseline;
      gap: 74px;
    }

    &--option {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0 90px;
      align-items: baseline;
    }
  }

  .form__item {
    width: 570px;

    &:last-child {
      margin-bottom: 0;
    }

    &--comment {
      width: auto;
    }
  }

  .form__programm {
    width: 557px;
    padding: 36px 19px 9px 19px;
    margin-bottom: 0;
    border: 1px solid @special-gray;
  }

  .form__cat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
  }

  .form__item--option {
    width: auto;
  }

  .form__owner {
    margin-bottom: 48px;
  }

  .form__comment {
    margin-bottom: 73px;
  }

  .form__optional {
    margin-bottom: 45px;
  }

  .sending {
    justify-content: start;
  }

  .sending__button {
    width: 569px;
    margin-right: 83px;
  }
}
