.header {
  padding: 14px 20px;
}

.header__link {
  display: flex;
  justify-content: space-between;
  width: 191px;
}

.header__logo {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .header {
    width: 708px;
    margin: 0 auto;
    padding-top: 23px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .header__logo-text {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: 1220px;
    padding-top: 53px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .header__logo-text {
    display: none;
  }
}
