.other__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.other__list {
  .list-reset ();
}

.other__title {
  .border-bottom();
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 47px;
  margin-bottom: 0;
  padding-bottom: 29px;
  font-family: @special-font-family;
  font-size: 24px;
  font-weight: 400;
}

.other__data {
  display: flex;
  justify-content: space-between;
}

.other__item {
  .border-bottom();
  padding-bottom: 15px;
  padding-top: 10px;
}

.other__promo {
  min-height: 289px;
  min-width: 280px;
  margin-top: 39px;
  margin-bottom: 36px;
  text-align: center;
  background-image: url(/img/gift-photo-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: @basic-green;
  color: @basic-white;
}

.other__promo-title {
  display: block;
  padding-top: 186px;
  width: 161px;
  margin: 0 auto;
  font-family: @basic-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.other__item-title {
  margin: 0;
  font-family: @special-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.other__button {
  font-size: 16px;
  padding: 11px 10px 10px 9px;
}

@media (min-width: @tablet-width) {
  .other {
    width: 708px;
    margin: 0 auto;
  }

  .other__title {
    font-size: 36px;
    font-weight: 400;
  }

  .other__item-title {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .other {
    width: 1220px;
  }

  .other__wrapper {
    display: flex;
  }

  .other__list {
    flex-grow: 1;
  }

  .other__item {
    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr;
    grid-template-rows: 0.4fr;
    width: 896px;
    gap: 0 5%;
  }

  .other__promo {
    margin-top: 0;
    min-width: 245px;
  }

  .other__button {
    width: 244px;
  }
}
