.other__list {
  .list-reset ();
}

.other__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.other__title {
  .border-bottom() ;
  padding-bottom: 18px;
  font-family: @special-font-family;;
  font-size: 24px;

}

.other__data {
  display: flex;
  justify-content: space-between
}

.other__item {
  .border-bottom() ;
  padding-bottom: 18px;
}

.other__promo {
  min-height: 289px;
  min-width: 280px;
  margin-top: 39px;
  text-align: center;
  background: @basic-green;
  color: @basic-white;
}

.other__promo-title {
  display: block;
  padding-top: 186px;
  width: 161px;
  margin: 0 auto;
  font-family: @basic-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

}
