.programms__wrapper {
  width: auto;
}

.programms__list {
  padding-left: 20px;
  padding-right: 20px;
}

.programms__item {
  background: @basic-gray;
  list-style-type: none;
}

.programms__title {
  font-family: @special-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 91px;
  color: @basic-dark;
}

.programms__description {
  font-family: @basic-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #D9D9D9;

}

.programms__link {
  font-family: @special-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 19px;
  padding-bottom: 19px;
  display: block;
  color: @basic-dark;
}

@media (min-width: @tablet-width) {
  .programms__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .programms__list {
    padding-left: 0;
    padding-right: 0;
  }

  .programms__title {
    font-size: 36px;
    padding-top: 45px;
    padding-left: 52px;
    margin-bottom: 0px;
  }

  .programms__description {
    max-width: 403px;
    padding-left: 31px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
  }

  .programms__link {
    font-size: 20px;
    padding-left: 52px;
    padding-top: 19px;
    padding-bottom: 62px;
  }
}

@media (min-width: @desktop-width) {
  .programms__wrapper {
      width: 1220px;
      margin-top: 82px;
    }

  .programms__list {
      display: flex;
      justify-content: space-between;
    }

  .programms__item {
      width: 570px;
  }

  .programms__title {
    padding-top: 35px;
    padding-left: 235px;
  }

  .programms__description {
    padding-left: 51px;
    padding-top: 50px;
    max-width: 513px;
  }

  .programms__link {
    padding-left: 72px;
    padding-top: 0;
    padding-bottom: 32px;
  }
}
