.promo {
  min-height: 480px;
  background-image: linear-gradient(180deg, rgba(@basic-green, 0.85) 63%, @basic-white 63%), url("../img/promo-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, rgba(@basic-green, 0.85) 63%, @basic-white 63%), url("../img/promo-bg-mobile@2x.jpg");
  }
}

.promo__wrapper {
  width: auto;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.promo__title {
  font-family: @special-font-family;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: @basic-white;
  padding-top: 27px;
  margin: 0;
}

.promo__slogan {
  font-family: @special-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  color: @basic-white;
  text-transform: uppercase;
  padding-top: 13px;
}

.promo__image {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.promo__link {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 135px;
}


@media (min-width: @tablet-width) {
  .promo {
    background: none;
  }

  .promo__wrapper {
    width: 708px;
    min-height: 853px;
  }
  .promo__title {
    color: @basic-dark;
    padding-top: 53px;
    padding-left: 67px;
    text-align: left;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  .promo__slogan {
    color: @basic-dark;
    text-align: left;
    padding-left: 68px;
    padding-top: 23px;
    font-size: 20px;
  }

  .promo__image {
    margin: 0;
    position: absolute;
    left: 50%;
  }

  .promo__link {
    margin: 0;
    width: 244px;
    font-size: 20px;
    padding: 19px 0;
    top: 29px;
    left: 62px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: linear-gradient(90deg, @basic-white 50%, rgba(@basic-green, 0.85) 50%), url("../img/promo-bg-desktop.png");
    background-position: top right;
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(90deg, @basic-white 50%, rgba(@basic-green, 0.85) 50%), url("../img/promo-bg-desktop@2x.png");
      background-size: contain;
      margin-top: -204px;
      background-repeat: no-repeat;
  }
  }
  .promo__wrapper {
    width: 1220px;
    min-height: 780px;
    padding-top: 260px;
    padding-left: 32px;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
  }

  .promo__image {
    top: 66%;
  }

  .promo__link {
    position: relative;
    left: 68px;
  }
}
