@basic-font-family: "Arial", "Helvetica", sans-serif;
@special-font-family: "Oswald", "Tahoma", sans-serif;

@basic-green: #68b738;
@basic-gray: #eaeaea;
@basic-white: #ffffff;
@basic-dark: #000000;

@special-gray: #cdcdcd;
@special-gray-2: #ebebeb;
@special-dark-gray: #444444;
@special-dark-gray-2: #222222;
@special-gray-logo: #666666;
@border-gray: #D9D9D9;
@border-checkbox-frame: #e7e7e7;
@box-shadow-control: rgba(0 0 0.16);

@background-slider-gray: #f2f2f2;
@card-item-gradient: linear-gradient(to bottom,#fff 78px,#f2f2f2 68px,#f2f2f2 100%);

@basic-error: #ff8282;
@button-hover: #5EAA2F;

@desktop-width: 1200px;
@tablet-width: 768px;
@mobile-width-only: 767px;
